<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>L'app a besoin de ta localisation</string>
    <key>NSContactsUsageDescription</key>
    <string>This app does not access your contacts.</string>
    <key>NSMotionUsageDescription</key>
    <string>This app does not access motion data.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app does not use Bluetooth.</string>
</dict>
</plist>
